* {
    margin: 0;
    padding: 0;
}

/* body {
    display: flex;
    flex-direction: column;
} */

.header, .top {
    background-color: #1f2937;
}

.logo, .link {
    display: flex;
    flex-direction: row;
}
